html, body{
    height:100%;
    background-color: #2F303A;
}

.pengumuman-container{
    position: fixed;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: left;
    color:#FFF;
    padding-left: 150px ;
    font-family: Arial, Helvetica, sans-serif;
}

.pengumuman-form{
    height: 400px;
    width: 500px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #2F303D !important;
    border-radius: 10px;
}
.jumlah-container{
    position:fixed;
    height:100%;
    display: flex;
    align-items: flex-end;
    justify-content: left;
    color:rgb(0, 0, 0);
    padding-left: 200px ;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
} 
.jumlah-form{
    height: 40px;
    width: 200px;
    background-color: #ffffff !important;
    border-radius: 10px;
} 

.btn{
    color: #000 !important;
    transform: translateY(20px);
    font-size: 14px;
    border-radius: 10px !important;
    font-weight: 700;
}

h3{
    text-align: justify;
}